<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
     <Appenders>
        <File name="TimeLogger" fileName="target/simulationTime.csv" append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="PopulationLogger" fileName="target/simulationPopulation.csv" append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
     <Loggers>
        <Logger name="fr.univlille1.m2iagl.sma.graph.PopulationLogger" level="trace">
            <AppenderRef ref="PopulationLogger"/>
        </Logger>
        <Logger name="fr.univlille1.m2iagl.sma.graph.TimeLogger" level="trace">
            <AppenderRef ref="TimeLogger"/>
        </Logger>
    </Loggers>
</Configuration>